.sidebar__container {
    display: flex;
    flex-direction: column;
    color: #566474;
    border-right: 1px solid #EBF0F5;
}

.sidebar__item {
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    gap: 1rem;
}

.sidebar__item:hover {
    background-color: #F7F8FA;
    color: #445EE2;
    font-weight: 700;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-right: 50px;
}

#selected__item{
    background-color: #F7F8FA;
    color: #445EE2;
    font-weight: 700;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-right: 50px;


}

.selected__name{
    color: #445EE2;
    font-weight: 700;
}
