.dashboard__container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    /* padding: 20px; */


}

p {
    margin: 0;
}

.dashboard__item1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding: 20px;
}

.dashboard__item2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-top: 35px;

}

.skill__heading {
    font-size: 12px;
    font-weight: 400;
    color: #566474;
    text-align: start;
    float: left;
    margin-left: 10px;
}

.skill__div {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
}

.html__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 4px;
    border-radius: 10px;
    padding: 14px 24px;
    background: #fff;
    border: 1px solid #EBF0F5;

}

.html__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.html__button {
    display: flex;
    width: 120px;
    height: 44px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #142683;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #FFF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.28px;
}

.html__innerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.html__heading {
    font-size: 16px;
    font-weight: 500;
    color: #222F3E;
    text-align: start;
}

.html__para {
    font-size: 12px;
    font-weight: 200;
    color: #566474;
    text-align: start;
}

/* Stat Styles */

.stat__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 4px;
    border-radius: 10px;
    padding: 14px 24px;
    background: #fff;
    border: 1px solid #EBF0F5;
}

.stat__heading {
    font-size: 16px;
    font-weight: 700;
    color: #1E272E;
    text-align: start;
    margin-bottom: 5px;
}

.stat__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    width: 100%;
    padding: 0 10px;

}

.stat__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #EBF0F5;

}


.stat__icon {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 6px;
    justify-content: center;
    align-items: center;
    background-color: #EBF0F5;
    border-radius: 50%;
}

.stat__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4px;
    margin-left: 20px;
}

.stat__number {
    font-size: 22px;
    font-weight: 700;
    color: #1E272E;
    letter-spacing: -0.44px;
}

.stat__type {
    font-size: 12px;
    font-weight: 400;
    color: #9EAAB7;
    letter-spacing: -0.24px;
}

#stat__last__item {
    border-right: none;
}

.emoji {
    font-size: 24px;
    font-weight: 700;
}

.comp__conatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding: 14px 24px;
    background: #fff;
    border: 1px solid #EBF0F5;
}

.comp__heading {
    font-size: 16px;
    font-weight: 700;
    color: #1E272E;
    text-align: start;
}

.comp__para__div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
}

.comp__para {
    color: #566474;
    font-size: 14px;
    line-height: 150%;
    /* 21px */
    letter-spacing: -0.28px;
    flex: 1;

}

.comp__graph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 10px;
}


/* progress component styles */

.progress__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    display: flex;
    /* width: 100%; */
    border-radius: 10px;
    padding: 14px 24px;
    background: #fff;
    border: 1px solid #EBF0F5;
}

.syllabus__heading {
    font-size: 16px;
    font-weight: 700;
    color: #1E272E;
    text-align: start;
    margin-bottom: 20px;
}

.syllabus__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;


}

.progress__heading {
    font-size: 16px;
    font-weight: 400;
    color: #566474;
    text-align: start;
    margin-bottom: 15px;
}

.progress__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
}

.progress__percentage {
    font-size: 14px;
    font-weight: 400;
    color: #566474;
    text-align: center;
    margin-right: 10px;
}



/* analysis styles */

.analysis__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    /* width: 100%; */
    border-radius: 10px;
    padding: 14px 24px;
    background: #fff;
    border: 1px solid #EBF0F5;
}

.analysis__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;

}


.analysis__heading {
    font-size: 16px;
    font-weight: 700;
    color: #1E272E;
    text-align: start;
}


.analysis__score {
    color: #438AF6;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}

.analysis__para {
    font-size: 14px;
    font-weight: 700;
    color: #566474;
    text-align: start;
}


#analysis__statement {
    font-size: 14px;
    font-weight: 400;
    color: #566474;
    text-align: start;
}

.analysis__pie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 285px;
    margin-top: 10px;
}